html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: black;
}

.block {
    color: white;
    align-content: center;
    padding: 10%;
    background-color: #000;
}

a {
    font-size: 1.5rem;
}

a::hover {
    font-size: 1.6rem;
}

.full-page {
    height: 100vh;
}

@media screen and (min-width: 700px) {
    #navigation {
        display: none;
    }
}